ENVIRONMENT=production

# DATABASE
DATABASE_URL="sqlite:///database.db"

# JWT
SECRET_KEY="ffcf53a19ae55f1ae675241f6418a516cd592ae2bcf2f319533c651bfda6fa1f"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
